<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoDownloaderApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.app.videodownloaderapp.Ui.Activity.CreationActivity"
            android:exported="false" />
        <activity
            android:name="com.app.videodownloaderapp.Ui.Activity.StoryActivity"
            android:exported="false" />
        <activity
            android:name="com.app.videodownloaderapp.Ui.Activity.PreviewActivity"
            android:exported="false" />
        <activity
            android:name="com.app.videodownloaderapp.Ui.Activity.GalleryFolderImagesActivity"
            android:exported="false" />
        <activity
            android:name="com.app.videodownloaderapp.Ui.Activity.GalleryActivity"
            android:exported="false" />
        <activity
            android:name="com.app.videodownloaderapp.Ui.Activity.InstagramLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.TwitterActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.FacebookActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.HowToUseActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.DpMakerEditActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.DPMakerActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.QuoteItemActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.QuoteActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.CaptionCategoryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.CaptionActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.HashtagListsActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.HashtagCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.HashtagActivity"
            android:exported="false"
            android:label="@string/title_activity_hashtag"
            android:theme="@style/Theme.VideoDownloaderApp" />
        <activity
            android:name=".Ui.Activity.InstagramActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activity.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

    <queries>
        <package android:name="com.twitter.android" />
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.instagram.android" />
    </queries>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>